@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

.MuiButtonBase-root, .MuiTablePagination-root, .MuiSelect-select, .MuiButtonBase-root, .MuiSelect-nativeInput, .MuiSvgIcon-root, .MuiInputBase-input  {
  color: white !important;
}

.MuiFormLabel-root {
  display: none;
}

.MuiCollapse-root {
  border: 1px white solid;
  border-radius: 5px;
}

.MuiBox-root.css-di3982 button:nth-child(2),
.MuiBox-root.css-di3982 button:nth-child(3) {
    display: none;
}